@import '~/assets/variables.scss';

@font-face {
  font-family: "African";
  src: url('~/assets/fonts/african.eot');
  src: url('~/assets/fonts/african.eot?#iefix') format('embedded-opentype'),
    url('~/assets/fonts/african.woff2') format('woff2'),
    url('~/assets/fonts/african.woff') format('woff'),
    url('~/assets/fonts/african.ttf')  format('truetype'),
    url('~/assets/fonts/african.svg#svgFontName') format('svg');
}

.african {
  font-family: "African", serif;
}

.button {
  display: flex;
  justify-content: space-between;
  background-color: $tile-color !important;
  color: $accent-color !important;
  text-transform: none;
  font-size: 24px !important;
}

.app-text {
  color: $font-color;
}

.clickable {
  cursor: pointer;
}

.title-font {
  font-size: 56px;
}

.title-font.xs {
  font-size: 42px;
}

.round-info-font {
  font-size: 24px;
}
